 <nav class="navbar navbar-default page-heaader"></nav>
 <nav ng-include src="'/partials/header.html'" class="navbar navbar-default"></nav>
 <div id="home-wrapper">
    <br>
            <div uib-alert ng-repeat="reminder in reminders" ng-class="'alert-warning'" id="floating_alert" close="closeReminder($index)">{{reminder.data}}</div>
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-danger'" id="floating_alert" close="closeAlert($index)">{{alert.data}}</div>
            <div class="row">
            	<!-- pill graph panel -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div>
                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                    <div>
                        <h4>Last Pill Taken: Cozaar
                        <br>
                        <br>
                        <br>
                        Last Pill Time: {{lastPillTime.x | amUtc | amLocal | amDateFormat:'dddd, YYYY-MM-DD HH:mm'}}</h4>
                    </div>
                </div>
                <!-- /. pill graph panel -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!-- current prescription panel -->
                    <div>
                        <div id="example">
                        <div>
                        <span class="pull-right">
                        <a href="#" ng-click="showAlerts()" class="btn btn-primary btn-sm">
                              <span class="glyphicon glyphicon-bullhorn"></span> Alerts
                              <span class="badge">{{alertCount}}</span>
                        </a>&nbsp&nbsp
                        <a href="#" ng-click="showReminders()" class="btn btn-primary btn-sm">
                              <span class="glyphicon glyphicon-bell"></span> Reminders
                              <span class="badge">{{reminderCount}}</span>
                        </a>&nbsp&nbsp
                        <a href="#" ng-click="openModal()" class="btn btn-primary btn-sm">
                              <span class="glyphicon glyphicon-plus"></span> Add Prescription
                        </a>&nbsp&nbsp
                        </span>
                            <br><br>
                        <table class="table table-condensed table-striped table-responsive">
                                <tr>
                                    <th>Prescription</th>
                                    <th>Time</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Recurrence</th>
                                    <th>Note</th>
                                    <th>Pills Remaining</th>
                                </tr>
                                <tr ng-repeat="prescription in prescriptions">
                                    <td>{{prescription.name}}</td>
                                    <td>{{prescription.hours}}: {{prescription.minutes}} {{prescription.period}}</td>
                                    <td>{{prescription.startTime | amUtc | amLocal | amDateFormat:'dddd, YYYY-MM-DD'}}</td>
                                    <td>{{prescription.endTime | amUtc | amLocal | amDateFormat:'dddd, YYYY-MM-DD'}}</td>
                                    <td>{{prescription.recurrence}}</td>
                                    <td>{{prescription.note}}</td>
                                    <td>
                                    <span ng-if="pillName == prescription.name">{{pillsRemaining}}</span>
                                    <span ng-if="pillName != prescription.name"> - </span>
                                    </td>
                                </tr>
                        </table>&nbsp&nbsp
                        <!-- modal for new prescription-->
                        <modal visible="prescriptionModal">
                            <form class="form-horizontal" role="form" name="prescriptionForm" ng-submit="savePrescription();" novalidate>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                    <input id="btn-input" type="text" name="subject" class="form-control form-control-sm" placeholder="Name" ng-model="postContent.name" maxlength="50" required>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                    <input type="text" name="summary" class="form-control form-control-sm" placeholder="Note" ng-model="postContent.note" maxlength="100">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                <div class="col-xs-2 col-xs-offset-1">
                                <b>Prescription Time : </b>
                                </div>
                                <div class="col-xs-2">
                                    <input type="number" min="0" max="12" ng-model="postContent.hours" class="form-control form-control-sm" required>
                                </div>
                                <div class="col-xs-2">
                                    <input type="number" min="0" max="60" ng-model="postContent.minutes" class="form-control form-control-sm" required>
                                </div>
                                <div class="col-xs-3">
                                    <select name="period" ng-model="postContent.period" class="form-control form-control-sm" required>
                                      <option selected="selected" ng-selected="true" value="nostatus">--AM/PM--</option>
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                    </select>
                                </div>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-xs-4 col-xs-offset-1">
                                    <select name="status" ng-model="postContent.recurrence" class="form-control form-control-sm" required>
                                      <option selected="selected" ng-selected="true" value="nostatus">--Select Recurrence--</option>
                                      <option value="None">None</option>
                                      <option value="Daily">Daily</option>
                                      <option value="Weekly">Weekly</option>
                                      <option value="Monthly">Monthly</option>
                                    </select>
                                  </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-sm-offset-1">
                                        <label for="start">Start Time :</label>
                                            <p class="input-group">
                                              <input type="text" id="start" class="form-control input-sm" uib-datepicker-popup="{{format}}" ng-model="postContent.startTime" is-open="popupStart.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                                              </span>
                                            </p>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                            <label for="end">End Time :</label>
                                            <p class="input-group">
                                              <input type="text" id="end" class="form-control input-sm" uib-datepicker-popup="{{format}}" ng-model="postContent.endTime" is-open="popupEnd.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm" ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                                              </span>
                                            </p>
                                            <br>
                                            <span>{{errMessage}}</span>
                                    </div>
                                </div>
                                <hr/>
                                <center>
                                    <button type="submit" class="btn btn-primary" ng-disabled="prescriptionForm.$invalid">
                                        <i class="fa fa-paper-plane"> Save </i>
                                    </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true"> Cancel </button>
                                </center>
                            </form>
                    </modal>
                    <!-- /.modal for new prescription-->
                        </div>

                    <style>
                        .custom-event {
                            color: #fff;
                            text-shadow: 0 1px 0 #000;
                        }
                        .custom-all-day-event {
                            text-align: center;
                            text-transform: uppercase
                        }
                    </style>
                    </div>
                    </div>
                    <!-- /. current prescription panel -->
                </div>
            </div>
</div>
<!-- /#wrapper -->