<nav ng-include src="'/partials/header.html'" class="navbar navbar-default"></nav>
 <div id="home-wrapper">
    <br>
      <div class="row">
                        <!-- /. pill graph panel -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- current prescription panel -->
                    <div>
                        <div id="example">
                        <div>
                            <div kendo-scheduler k-options="schedulerOptions">
                                <span k-event-template class='custom-event'>{{dataItem.title}}</span>
                                <div k-all-day-event-template class='custom-all-day-event'>{{dataItem.title}}</div>
                            </div>
                        </div>

                    <style>
                        .custom-event {
                            color: #fff;
                            text-shadow: 0 1px 0 #000;
                        }
                        .custom-all-day-event {
                            text-align: center;
                            text-transform: uppercase
                        }
                    </style>
                    </div>
                    </div>
                    <!-- /. current prescription panel -->
                </div>
      </div>
  </div>