 <nav class="navbar navbar-default page-heaader"></nav>
<nav ng-include src="'/partials/header.html'" class="navbar navbar-default"></nav>
 <div id="home-wrapper">
    <br>
      <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary btn-sm"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default btn-sm"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary btn-sm"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary btn-sm" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
        <label class="btn btn-primary btn-sm" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
        <label class="btn btn-primary btn-sm" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
        <label class="btn btn-primary btn-sm" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
      </div>
    </div>

  </div>
  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="vm.cellIsOpen"
    day-view-start="06:00"
    day-view-end="22:59"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)"
    cell-auto-open-disabled="true"
    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
  </mwl-calendar>

  <br><br><br>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
  <h3 id="event-editor">
    <button
      class="btn btn-primary pull-right btn-sm"
      ng-click="openNew()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>

  <table class="table table-condensed table-striped table-responsive">

    <thead>
      <tr>
        <th>Title</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="event in vm.events track by $index">
        <td>
        <span>{{event.title}}</span>
        </td>
        <td>
          <span>{{event.startsAt | amUtc | amLocal | amDateFormat:'dddd, YYYY-MM-DD HH:mm'}}</span>
        </td>
        <td>
          <span>{{event.endsAt | amUtc | amLocal | amDateFormat:'dddd, YYYY-MM-DD HH:mm'}}</span>
        </td>
        <td>
          <button
            class="btn btn-danger btn-sm"
            ng-click="vm.eventDeleted(event)">
            Delete
          </button>
        </td>
      </tr>
      <tr ng-if="appointmentModal">
        <td>
            <input
            type="text"
            class="form-control"
            ng-model="newEvent.title">
        </td>
        <td>
            <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="newEvent.startsAt"
              is-open="newEvent.startOpen"
              close-text="Close" >
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'startOpen', newEvent)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="newEvent.startsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="true">
          </div>
        </td>
        <td>
            <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="newEvent.endsAt"
              is-open="newEvent.endOpen"
              close-text="Close">
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'endOpen', newEvent)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="newEvent.endsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="true">
          </div>
        </td>
        <td>
          <button
            class="btn btn-default btn-sm"
            ng-click="vm.addEvent(newEvent)">
            Save
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>
      </div>
  </div>